:root {
    --color-background1: #1F2937;
    --color-background2: #3882F6;
    --color-background3: var(--color-text1);
    --color-background4: var(--color-text2);
    --color-button1: var(--color-background2);
    --color-text1: #F9FAF8;
    --color-text2: #E5E7EB;
    --color-text3: var(--color-background1);

    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
* {
    border: 1px solid red;
}
body{
    height: auto;
    padding: 0;
    margin: 0;
    width: 40vw;
}
/* These are our general Flexbox settings that we will override in more specific selectors as needed. */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-box {
    /* display: flex; */
    flex: 1 0 auto;
    /* flex-wrap: nowrap; */
}
/* This is our selector for all of the top-level boxes. */
header, #content-one, #content-two, #content-three, footer {
    padding: 3% 15%;
    width: 100%;
}
/* These are selectors for everything within the header element. */
header {
    background-color: var(--color-background1);
    flex-direction: column;
}
header > * {
    color: var(--color-text1);
    padding-top: 2rem;
}
.header__wrapper > img {
    background-color: var(--color-background4);
    height: 80%;
    width: 80%;
}
nav > div > h1 {
    position: relative;
}
/* These are selectors for everything within the main element. */
main {
    height: 80%;
    width: 100%;
}
#content-one {
    background-color: var(--color-background3);
    flex-basis: 100%;
}
#content-one > div > div{
    display: flex;
    flex-wrap: wrap;
}
#content-one > div > div > img {
    border: 1px solid var(--color-background2);
    border-radius: 0.5rem;
}
#content-two {
    background-color: var(--color-background4);
}
#content-three {
    background-color: var(--color-background3);
}
/* These are selectors for everything within the footer element. */
footer {
    background-color: var(--color-background1);
    min-height: 5%;
}
footer > * {
    color: var(--color-text1);
}
/* These are our generic HTML element selectors. */
a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
button {
    background-color: var(--color-background2);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}
li {
    display: inline;
}
ul {
    display: inline-block;
    list-style-type: none;
    padding: 1rem 2rem;
}