/* {html} -> {:root} */
:root {
    --color-background1: #1F2937;
    --color-background2: #3882F6;
    --color-background3: var(--color-text1);
    --color-background4: var(--color-text2);
    --color-button1: var(--color-background2);
    --color-text1: #F9FAF8;
    --color-text2: #E5E7EB;
    --color-text3: var(--color-background1);
}
/* This is our everything selector. */
*,
*::before,
*::after {
    align-items: center;
    /* border: 1px solid red; */
    box-sizing: border-box;
    color: var(--color-text3);
    font-family: Roboto, sans-serif;
    font-size: 10px;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* ---------- */
/* These are our global Flexbox styles. */
/* ---------- */
.flex-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex-child {
    flex: 1;
    padding: 1%;
}
/* ---------- */
/* These are our elements, organized by their parents. */
/* ---------- */
header, .one, .two, .three {
    padding: 3% 20%;
}
header {
    background-color: var(--color-background1);
    color: var(--color-text1);
    padding-top: 0;

    flex-direction: column;
}
    nav {

    }
        nav > p {
            color: var(--color-text1);
            font-size: 2.4rem;
            text-align: left;
        }
        nav > ul {
            
        }
            nav > ul > li {
                padding: 0 2rem;
            }
                nav > ul > li > a {
                    color: var(--color-text2);
                    font-size: 1.8rem;
                }
    header > div {

    }
        header > div > div:first-of-type {
            text-align: left;
            
        }
            header > div > div > p:first-of-type {
                color: var(--color-text1);
                font-size: 4.8rem;
                text-align: inherit;
            }
            header > div > div > p:last-of-type {
                color: var(--color-text2);
                font-size: 1.8rem;
                text-align: inherit;
            }
            header > div > div > button {
                border: none;
                font-size: 1.8rem;
            }
            header > div > div:last-of-type > div {
                background-color: var(--color-background4);
                padding-bottom: 25%;
                padding-top: 25%;
                width: 100%;
            }
                header > div > div:last-of-type > div > p {
                    font-size: 1.8rem;
                    margin: 0;
                }
main {
    /* This is just a placeholder for organizational purposes. */
}
    .one {
        background-color: var(--color-background3);
    }
        .one > div > p {
            font-size: 3.6rem;
            font-weight: bold;
        }
        .wrapper {
            border: 2px solid var(--color-background2);
            border-radius: 1rem;
            position: relative;
            width: 100%;
        }
        .wrapper::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .wrapper > * {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .card > p {
            font-size: 1.8rem;
            margin-top: 2rem;
        }
    .two {
        background-color: var(--color-background4);
    }
        .two > div > p {
            color: var(--color-text3);
            font-size: 3.6rem;
            font-style: italic;
            font-weight: lighter;
            text-align: left;
        }
        .two > div > p:last-of-type {
            margin-top: -5%;
            text-align: right;
        }
    .three {
        background-color: var(--color-background3);
        padding: 3% 15%;
    }
        .three > div {
            background-color: var(--color-background2);
            padding: 0 5%;
        }
            .three > div > div:first-of-type {
                flex-grow: 2;
            }
                .three > div > div:first-of-type > p:first-of-type {
                    color: var(--color-text1);
                    font-size: 2.4rem;
                    font-weight: bold;
                    text-align: left;
                }
                .three > div > div:first-of-type > p:last-of-type {
                    color: var(--color-text1);
                    font-size: 1.8rem;
                    margin-top: -5%;
                    text-align: left;
                }
            .three > div > div:last-of-type > button {
                color: var(--color-text1);
                border: 2px solid var(--color-text1);
                font-size: 1.8rem;
                padding: 3% 7%;
            }
footer {
    background-color: var(--color-background1);
    padding: 1% 3rem;
}
    footer > p {
        color: var(--color-text1);
        font-size: 2.4rem;
        padding: 0;
    }
/* ---------- */
/* These are our generic HTML element selectors. We apply some global styles here to these elements.*/
/* ---------- */
a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
button {
    background-color: var(--color-background2);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    padding: 2% 3%;
}
li {
    display: inline;
}
p {
    padding: 2%;
    margin: 1%;
}
ul {
    display: inline-block;
    list-style-type: none;
}